*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Akan-names{
    width: 100;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../IMAGES/15_02.jpeg);
    /* made it dimmer. Following a youtube video: https://www.youtube.com/watch?v=CQZxeoQeo5c */
    background-position: center;
    background-size: contain;
    height: 100vh;
}
.message{
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1%;
    padding-top: 3%;
} 
.row{
    display: flex;
    height: 100%;
    align-items: center;
}
 .col{
     flex-basis: 50%;
 }
.forms{
    width: 700px;
    display: grid;
    margin-right: 5%;
    float: right;
    /* background-color: black; */

}
h1{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-items: center;
    margin-left: 20%;
}
form{
    background-color: black;
    justify-items: center;
    align-items: center;
    height: max-content;
}
.btn.btn-warning{
    margin-left: 40%;
}
textarea{
    color: black;
}